<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4 style="padding-bottom: 15px">Detailed information</h4>
      <div class="container">
        FIX NUMBER: <%= @fix.number %>
        <div class="fix-section-header">FIX STATUS</div>
        ADM status: <%= @fix.status_before_type_cast %>
        <div class="fix-section-header">DESCRIPTION</div>
        <%= @fix.description %>
        <div class="fix-section-header">PROMOTION FORMS</div>
        <ul class="nav nav-pills">
        <% @fix.promotion_forms.each do |form| %>
          <li><a data-toggle="pill" href="#<%= form.name %>"><%= form.name %></a></li>
        <% end %>
        </ul>
        <%= link_to "Build/promote", user_fix_build_promote_path(@user, @fix), method: :post, class: "btn btn-default" %>
      </div>
    </div>
    <div class="col-md-4">
      <h4>History</h4>
    </div>
  </div>
</div>

<div class="tab-content">
  <%= render partial: "fixes/promotion_form", collection: @fix.promotion_forms, as: :form %>
</div>
