<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4 style="padding-bottom: 15px">Detailed information</h4>
      <div class="container">
        FIX NUMBER: <%= @fix.number %>
        <div class="fix-section-header">FIX STATUS</div>
        ADM status: <%= @fix.status_before_type_cast %>
        <div class="fix-section-header">DESCRIPTION</div>
        <%= @fix.description %>
        <div class="fix-section-header">PROMOTION FORMS</div>
        <ul class="nav nav-pills forms">
          <% @fix.promotion_forms.each do |form| %>
            <li><a data-toggle="pill" href="#<%= form.name %>"><%= form.name %></a></li>
          <% end %>
        </ul>
        <%= link_to "Build/promote", user_fix_build_promote_path(@user, @fix), method: :post, class: "btn btn-default" %>
        <%= link_to "New promotion form", '#new_promotion_form_modal', { 'data-toggle': 'modal', class: "btn btn-default" } %>
      </div>
    </div>
    <div class="col-md-4">
      <h4>History</h4>
    </div>
  </div>
</div>

<div class="tab-content forms" id="promotion_tabs">
  <%= render partial: @fix.promotion_forms, as: :form %>
</div>

<!-- Modal -->
<div class="modal fade" id="new_promotion_form_modal" tabindex="-1" role="dialog" aria-labelledby="promotionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modalTitle" id="promotionFormLabel">New promotion form</h4>
      </div>
      <div class="modal-body">
        <%= render 'promotion_forms/new_modal', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>