<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for([@user, @fix, @fix.promotion_forms.build], remote: remote, html: { role: :form, 'data-model' =>'form' }) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label "Form name:", class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label "Description" %>
      <%= f.text_area :description, class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label "Members" %>
      <table class="table" id="members_table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <a type="button" onclick="addRow()" class="btn btn-default">Add row</a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <div class="btn-group" role="group">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
    function addRow() {
        let row = $('<tr>' +
            '<td><input type="text" class="form-control" /></td>' +
            '</tr>');

        let array = [];
        <% @types.each do |type| %>
          array.push('<%= type.name %>');
        <% end %>

        let arr = array.map(function (item, i) {
            return {val: i+1, text: item};
        });

        let select_div = $('<div>');

        let sel = $('<select>').addClass('form-control');
        $(arr).each(function () {
            sel.append($("<option>").attr('value', this.val).text(this.text));
        });

        let trash = $('<td><a class="link-remove-row"><span class=\'glyphicon glyphicon-trash\'></span></a></td>');

        trash.click(function (event) {
            $(event.currentTarget).closest("tr").remove();
        });

        select_div.append(sel);
        row.append($('<td>').append(select_div)).append(trash);

        $("#members_table tr:last").after(row);
    }
</script>